<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceam.shop.mapper.CeamOrderDetailMapper">

    <select id="listByOrderId" resultType="com.ceam.mall.vo.CeamOrderDetailVO">
        select t.*,
            g.name goodsName
        from ceam_order_detail t
        left join ceam_goods g on g.id = t.goods_id
        where t.order_id = #{orderId}
    </select>
</mapper>
